   .gradient-background {
    background: linear-gradient(300deg, #FFE6E6, #AD88C6, #7469B6);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .screen-img {
    height: 500px;
    border-radius: 5px;
  }

  .profile-img {
    height: 100px;
    border-radius: 50%;
  }
